/* Global Styles */

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
    width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #f8fafc; /* Light gray background */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Hero Section Styles */

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
    text-align: center;
  height: calc(100vh - 80px);
  background-image: linear-gradient(to bottom, #333, #1a202c); /* Dark blue gradient */
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #000000; /* White text for hero title */
}

/* Header Styles */

#header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 2rem;
  text-decoration: none;
  color: #333; /* Dark gray text for logo */
  transition: all 0.3s ease;
}

#logo:hover {
  transform: scale(1.1);
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: #666; /* Gray text for nav links */
  font-weight: bold;
  transition: all 0.3s ease;
}

nav a:hover {
  text-decoration: underline;
}

/* Navigation Styles */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin-right: 1rem;
}

nav a.active {
  background-color: #007bff; /* Blue background for active link */
  color: #fff;
}

/* Article Styles */

.article h2, .article p {
  margin-bottom: 1rem;
  color: #333; /* Dark gray text for article headings and paragraphs */
}

.box-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 960px;
  margin: auto;
  gap: 2rem;
}

.box.shadow {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden;
  width: calc((100% - 3rem) / 3); /* Adjust for spacing */
  margin-bottom: 2rem;
}

.box .image {
  max-height: 200px;
  overflow: hidden;
}

.box img {
  display: block;
  width: 100%;
  height: auto;
}

.content h3 {
  font-size: 1.75rem;
  margin-top: 0;
  color: #333; /* Dark gray text for box headings */
}

/* Button Styles */

.btn {
  background-color: #007bff;
  border: none;
  padding: 0.8em 2em;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  display: inline-block;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

/* Responsive Design */

@media (max-width: 768px) {
  .hero-container {
    height: calc(100vh - 60px);
  }
  #header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 480px) {
  .box.shadow {
    width: calc((100% - 2rem) / 2); /* Adjust for spacing */
  }
}

